//colors
$color-primary-dark:#52057B;
$color-primary: #892CDC;
$color-primary-light: #BC6FF1;
$color-secondary: #000;
$color-text:#fff;

//typo
$font-size-huge: 5.96rem;
$font-size-extra-large: 3.052rem;
$font-size-large: 2.441rem;
$font-size-medium: 1.5rem;
$font-size-default: 1rem;
$font-size-small: 0.8rem;

$default-line-height: 1.7em;

$font-mochiy: 'Mochiy Pop P One', 'sans-serif';

